{%extends "base.html"%}
{% load staticfiles %}
{% block headTitle %} Login {% endblock %}
{% block body %}
<div class="container">
	{% if form.errors %}
	<p>Tu usuario y contraseña no coinciden. Por favor intenta nuevamente</p>
	{% endif %}

	<div class="container">
		<div class="col-md-3"></div>    
		<div class="col-md-6">    
			<form class="form-horizontal" action="/Usuario/login/" method="POST">    
				{% csrf_token %}
				{% for field in form %}
				{% if field.errors %}
				<div class="form-group error">
					<label class="control-label">{{ field.label }}</label> 
					<div class="controls">{{ field }}
						<span class="help-inline">
							{% for error in  field.errors %}{{ error }}{% endfor %}
						</span>
					</div>
				</div>
				{% else %}
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ field.label }}</label> 
					<div class="col-sm-10">{{ field }}
						{% if field.help_text %}
						<p class="help-inline"><small>{{ field.help_text }}</small></p>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
				<div class="form-actions">
					<span style="color:red;">{{error}}</span><br>					
					<input type="submit" value="Iniciar Sesión" class="btn btn-default btn-lg" style="margin-top:10px;"/>
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</form>
		</div>
{% endblock %}