{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">


	<!-- Portfolio Item Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{Usr.get_full_name}}                                  
			</h1>
		</div>
	</div>
	<!-- /.row -->

	<!-- Portfolio Item Row -->
	<div class="row">

		<div class="col-md-2">
			<img class="img-responsive img-perfil" src="{{ MEDIA_URL }}{{Bailarin.foto_perfil}}" alt="">
		</div>

		<div class="col-md-6">
			<h3>Datos Personales</h3>                
			<p>	
				<div><span class="item">Nombre completo: </span>{{Usr.get_full_name}}</div>
				<div><span class="item">Usuario </span>{{Usr.username}}</div>
				<div><span class="item">Tipo de usuario: </span>Cliente</div>                    
			</p>                
		</div>
		<div class="col-md-6"></div>

	</div>

	<a href="/Eventos/nuevo/" class="btn btn-success btn-lg" style="margin-top:30px;">Crear Evento</a>

	<div class="col-md-12">
		<h3>Lista de Eventos</h3>
		<table class="table table-striped"> 
			<!-- CREAR LA TABLA A PARTIR DE LOS EVENTOS -->
			<tr>
				<th>Nombre</th>
				<th>Fecha</th>				
				<th>Duración</th>
				<th>Ubicación</th>
				<th>Bailarines</th>
				<th>Acción</th>
			</tr>			
			{% for e in Eventos %}
			<tr>
				<td>{{e.nombre}}</td>
				<td>{{e.fecha_realizacion}}</td>				
				<td>{{e.duracion}}</td>								
				<td><button id="mod" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-lat="{{e.position.latitude}}" data-lng="{{e.position.longitude}}" data-target="#myModal">
					<input type="hidden" id="lat">
					Ver mapa
				</button></td>				
				<td>{% for b in e.bailarines.all  %}
					{{b.usuario.get_full_name}} </br>
					{% endfor %}</td>
					<td><a class="btn btn-danger btn-xs" href="/Eventos/cancelar/{{e.id}}">Cancelar</a></td>
				</tr>

				{% endfor %}
			</table>
		</table>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Ubicación</h4>
				</div>
				<div class="modal-body">
					<img id="mapa-img" src="https://maps.googleapis.com/maps/api/staticmap?center={{e.position.latitude}},{{e.position.longitude}}&zoom=14&size=560x400&key=AIzaSyAIeLoNwxWYkEhmI65mi7aBFOcPd8QsPfY" alt="mapa">
				</div>				
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).on("click", "#mod", function () {
			var lat = $(this).data('lat');
			var lng = $(this).data('lng');
			var center = lat + "," + lng;
			var marker = "markers=color:red%7C" + center
			var url = "https://maps.googleapis.com/maps/api/staticmap?center=" + center + "&zoom=14&size=560x400&" + marker + "&key=AIzaSyAIeLoNwxWYkEhmI65mi7aBFOcPd8QsPfY"
			$(".modal-body #mapa-img").attr("src",url);     
		});
	</script>	


</div>		
</div>
{% endblock%}
