{%extends "base.html"%}
{% load staticfiles %}
{% block headTitle %} Registro {% endblock %}
{% block body %}
<div class="col-md-2"></div>
<div class="container col-md-8">
	<h1 class="brand-heading">Gracias por registrarse.</h1>
	<p class="intro-text">Una vez que hayamos validado su cuenta, podrá ingresar al sitio para crear eventos y conocer nuevos bailarines.</p>
		<br>
		<a href="/Usuario/login/"><button class="btn btn-default btn-lg" href="">Iniciar Sesión</button></a>

	</div>
<div class="col-md-2"></div>
{%endblock%}