{%extends "base.html"%}
{% load staticfiles %}
{% block headTitle %} Registro {% endblock %}
{% block body %}
<div class="container">
<div class="col-md-3"></div>    
<div class="col-md-6">    
<form class="form-horizontal" action="/Usuario/registro/" method="POST">     
        {% csrf_token%}           
        {% for field in form %}
        {% if field.errors %}
        <div class="form-group error">
            <label class="control-label">{{ field.label }}</label> 
            <div class="controls">{{ field }}
                <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label> 
            <div class="col-sm-10">{{ field }}
                {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="form-actions">
          <span style="color:red;">{{error}}</span>
          <br>
          <input class="btn btn-default btn-lg" type="submit" value="Registrarme" name="name" style="margin-top:15px;"/>    
      </div>

  </form>
</div>
<div class="col-md-3"></div>
</div>
{% endblock %}