{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />    
	<meta name="author" content="Dancing Partner Team" />
	<title>{% block headTitle %}{% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
	<style type="text/css">
		a{
			transition: 0.4s all ease-in-out;
		}

		.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
			color: #EA0074;
			background-color: transparent;          
		}

		.fst-block{
			margin-top:80px;			
		}	

		footer{
			position:relative;
   			left:0px;
   			bottom:0px;
   			height:60px;
   			width:100%;
   			margin-top:400px;
		}

	</style>
	{% block extraHead%}
	{% endblock%}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Dancing Partner</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">              		
					<li>
						<a href="/mision/">Misión y Visión</a>
					</li>
					<li>
						<a href="/contacto/">Contacto</a>
					</li>
					{%if user.is_authenticated %}						
						<li>
							<a href="/Usuario/logout/">Salir</a>
						</li>
					{%endif%}
					{%block navbar-links%}

					{%endblock%}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="fst-block">		
	{% block body %}
	{% endblock %}
	</div>
	<footer>
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					&copy; 2015 DancingPartner.com
				</div>               
			</div>
		</div>


	</footer>		
	<!-- BOOTSTRAP SCRIPTS  -->
	<script src="{% static "js/bootstrap.js" %}"></script>
	{% block extraBody %}
	{% endblock %}	
</body>
{% block afterBody %}
{% endblock %}
</html>

