{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
		  <!-- Favicon Icon -->
    <link rel="icon" href="{% static "img/favicon.ico" %}" />
    <title>Misión y Visión</title>
    <!-- BOOTSTRAP CORE CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
    <!-- ION ICONS STYLES -->
    <link href="{% static "css/portfolio-item.css" %}" rel="stylesheet" />
     <!-- FONT AWESOME ICONS STYLES -->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />    

    <link href="{% static "css/detalle.css" %}" rel="stylesheet" />    
     <!-- IE10 viewport hack  -->
    <script src="{% static "js/ie-10-view-port.js" %}"></script>
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .item {
            font-weight: 600;
        }

        .info-pro{
            margin-top:20px;
        }

        a{
            transition: 0.4s all ease-in-out;
        }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
          color: #EA0074;
          background-color: transparent;          
        }

        .img-perfil{
            height: 150px;
            width: 150px;
            border: 2px solid #EA0074;
            border-radius: 50%;
            margin:10% auto;
        }

    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dancing Partner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li>
                        <a href="/mision/">Misión y Visión</a>
                    </li>
                    <li>
                        <a href="/contacto/">Contacto</a>
                    </li>
                    <li>
                        <a href="/desarrollador/">Desarrolladores</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Web Design SRL                                  
                </h1>
                <p>
                    <div><span class="item">Dirección </span>Rivadavia 68</div>
                    <div><span class="item">Localidad </span>Rafaela</div>
                    <div><span class="item">Provincia </span>Santa Fe</div>
                    <div><span class="item">Teléfono </span>(03492) 12548954</div>
                    <div><span class="item">Email </span><a href="mailto:info@mwd.com.ar">info@mwd.com.ar</a></div>
                </p>
            </div>
        </div>
    
        <!-- /.row -->
       

        <!-- Footer -->
       <footer>
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        &copy; 2015 DancingPartner.com
                    </div>               
                </div>
            </div>


        </footer>

    </div>
    <!-- /.container -->
    


    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="{% static "js/bootstrap.js" %}"></script>
</body>
</html>