{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container"> 

        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h1 style="margin:50px 0;">Modificar Curriculum</h1>                       
            <form role="form" method="POST" action="Bailarin/edita/">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>  
            {% endfor %}            
            <input type="submit" class="btn btn-success" value="Modificar">
        </form>            
        </div>
        <div class="col-xs-3"></div>
        
    </div>
{% endblock body %}
{% block extraBody %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".form-group input, .form-group textarea").addClass("form-control");
            console.log("hola");            
        })        
    </script>    
{% endblock extraBody %}
