﻿{% load i18n %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <!-- Favicon Icon -->
        <link rel="icon" href="{% static "img/favicon.ico" %}" />
        <title>Dancing Partner</title>
        <!-- BOOTSTRAP CORE CSS -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <!-- ION ICONS STYLES -->
        <link href="{% static "css/ionicons.css" %}" rel="stylesheet" />
        <!-- FONT AWESOME ICONS STYLES -->
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
        <!-- CUSTOM CSS -->
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
        <!-- IE10 viewport hack  -->
        <script src="{% static "js/ie-10-view-port.js" %}"></script>
        <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body >
        <div class="container">
        </div>
        <!--MENU SECTION START  -->
        <div id="menu-nav"  class="scroll-me">
            <a data-toggle="tooltip" data-placement="left" title="Inicio" href="#home"></a>
            <a data-toggle="tooltip" data-placement="left" title="Descripción" href="#description"></a>
            <a data-toggle="tooltip" data-placement="left" title="Bailarines" href="#team"></a>
            <a data-toggle="tooltip" data-placement="left" title="Misión" href="/mision/"></a>
            <a data-toggle="tooltip" data-placement="left" title="Contacto" href="/contacto/"></a>
            <a data-toggle="tooltip" data-placement="left" title="Desarrolladores" href="/desarrollador/"></a>
            {% if user.is_authenticated %}            
            <a data-toggle="tooltip" data-placement="left" title="Panel" href="/Usuario/panel/{{user.id}}/"></a>
            <a data-toggle="tooltip" data-placement="left" title="Salir" href="/Usuario/logout/"></a>
            {%else%}
            <a data-toggle="tooltip" data-placement="left" title="Login" href="/Usuario/login/"></a>    
            {%endif%}
            

            
        </div>

        <!--MENU SECTION END  -->
        <!--HOME SECTION START  -->
        <div id="home" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=6BTjG-dhf5s',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}" >

            <div class="overlay">
             <!-- change https://www.youtube.com/watch?v=ev-H3VAiMCw to your youtube url-->
             <div class="row">
                <div class="col-md-1">
                    <iframe width="200" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/160855223&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                </div>

                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                            <h1>DANCING PARTNER</h1>
                            <h4>{% trans "Tu mejor compañero de baile" %}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
    <!-- HOME-BELOW SECTION START-->
    <div id="home-below">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>Encontrá los mejores profesionales de baile</h2>
                </div>

            </div>
        </div>

    </div>
    <!-- HOME-BELOW SECTION END-->
    <!-- DESCRIPTION SECTION START-->
    <div id="description">
        <div class="col-lg-6 col-md-6 col-sm-6 description-img " >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 description-txt">
            <div class="row ">
                <div class="col-md-12 scroll-me">
                    <h2 class="headline-txt">Bailarines para cualquier ocasión</h2>
                    <p>
                        Mirá al listado de bailarines y descubrí los mejores profesionales para tu evento. Podrás ver sus CV, fotos, videos, experiencias y mucho más.
                    </p>
                    <a href="#team" class="btn btn-custom btn-one">Eplorar</a>
                </div>
            </div>

        </div>
    </div>
    <!-- DESCRIPTION SECTION END-->
    <!-- CONTACT SECTION START-->
    <section id="contact">        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="headline-txt" style="font-size:40px;">Generamos comunicación a partir del baile</h2>
                </div>                
            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END-->
    <!-- TEAM SECTION START-->
    <section id="team">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-12 pad-bottom">
                 <h2 class="headline-txt">Últimos perfiles cargados</h2>
                 <hr class="hr-set" />
                 <p>
                    Te mostramos los bailarines recientemente cargados.

                </p>
            </div>
        </div>
        <div class="row pad-bottom">
            {% for b in Bailarines %}
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="media">
                    <a class="media-left" href="Bailarin/{{b.id}}">
                        <img src="{{ MEDIA_URL }}{{b.foto_perfil}}" alt="" class="img-circle" />
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">{{b.usuario.get_full_name}}</h5>
                      <h6>{{b.ciudad}}, {{b.ciudad.provincia_id}}</h6>
                      <p>                            
                      </p>                                                        
                  </div>
              </div>
          </div>
          {%endfor%}                
      </div>

      <div class="row"></div>

  </div>
</section>
<!-- TEAM SECTION END-->
<!-- SOCIAL SECTION START-->
<section id="social">
 <div class="container">
     <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="style-box-one">
                <a href="https://www.facebook.com/Dancing-Parner-900312413339321/timeline/" target="_blank">
                    <span class="fa fa-facebook"></span>
                    <h5>Faceboook Fans</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="style-box-one">
                <a href="https://twitter.com/i/notifications" target="_blank">
                    <span class="fa fa-twitter"></span>
                    <h5>Twitter Followers</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="style-box-one">
                <a href="https://es.pinterest.com/dancingparnerco/" target="_blank">
                    <span class="fa fa-pinterest"></span>
                    <h5>Pintrest Account</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="style-box-one">
                <a href="https://www.linkedin.com/profile/view?id=AAIAABsMrYcBxD1KwXlfA1Y17bdumKxu6Er9jxE&trk=nav_responsive_tab_profile" target="_blank">
                    <span class="fa fa-linkedin"></span>
                    <h5>LinkedIn Profile</h5>
                </a>
            </div>
        </div>      
    </div>
</div>
</section>
<!-- SOCIAL SECTION END-->    


<!-- FOOTER SECTION START-->
<footer>
    <div class="container">            
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <div class="input-field" style="max-width: 200px;">
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language" class="form-control" style="max-width: 160px;">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Cambiar" class="btn btn-xs btn-success" style="margin-top:15px;" />
        </div>
        
    </form>

     <div class="row" style="margin-top:30px;">
            <div class="col-md-12">
                &copy; 2015 DancingPartner.com
            </div>               
        </div>
</div>


</footer>
<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  SCRIPTS -->
<script src="{% static "js/jquery-1.11.1.js" %}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="{% static "js/bootstrap.js" %}"></script>
<!-- SCROLLING SCRIPTS PLUGIN  -->
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<!-- VIDEO BACKGROUND DIV SCRIPTS   -->
<script src="{% static "js/jquery.mb.YTPlayer.js" %}"></script>
<!-- CUSTOM SCRIPTS   -->
<script src="{% static "js/custom.js" %}"></script>
</body>
</html>
