{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
	<div class="container">
		Se ha creado exitosamente el evento!
		<a href="/Usuario/panel/{{Usr.id}}">Ir al panel</a>
	</div>
{% endblock body %}