{% extends "base.html" %}
{% load staticfiles %}
{{ instance.position }}
{% block body %}
<div class="container">
	<form role="form" method="POST" action="Eventos/nuevo/">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			<label for="{{field.id_for_label}}">{{field.label}}</label>
    		{{field}}
		</div>	
		{% endfor %}
		{{ form.media }}		
		 <input type="submit" class="btn btn-success" value="Crear">
	</form>
</div>
<div id="map-canvas"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>

<script>
	$(function(){
		$(".form-group input").addClass("form-control");	
		console.log("pase");
	});

	function initialize() {
		var map = new google.maps.Map(document.getElementById('map-canvas'));
		var bounds = new google.maps.LatLngBounds();
		function addMarker(lat, lng, title) {
			var position = new google.maps.LatLng(lat, lng);
			var marker = new google.maps.Marker({
				position: position,
				map: map,
				title: title
			});
			bounds.extend(position);
		}
		addMarker({{ instance.position.latitude }}, {{ instance.position.longitude }}, "{{ instance.adress }}");
		map.fitBounds(bounds);
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	
</script>
{% endblock body %}
