﻿/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/*================================
    FONT STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Raleway); /* FREE GOOGLE FONTS */

/*================================
    GENERAL STYLES
==================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 16px;
    color:#737373;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pad-bottom {
    padding-bottom: 30px;
}
.headline-txt {
    font-size:20px;
    text-transform:uppercase;
    color:#EA0074;
    font-weight:900;
}
.hr-set {
    border-top: 3px double #EA0074;
width: 120px;
padding-bottom:20px;
}
/*================================
    BUTTON STYLES
==================================*/
.btn-custom {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 15px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #fff;
    margin: 15px 15px 15px 0px;
}

.btn-one {
    color: #000;
    background-color: transparent;
    border: 5px solid #EA0074;
}

    .btn-one:hover {
        color: #fff;
        background-color: #EA0074;
    }

/*================================
    Footer SECTION STYLES
==================================*/
footer {
    padding: 20px;
}
    footer a, footer a:focus, footer a:hover {
        color:#EA0074;
        text-decoration:none;
    }
 