﻿/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/*================================
    FONT STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Raleway); /* FREE GOOGLE FONTS */

/*================================
    GENERAL STYLES
==================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 16px;
    color:#737373;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pad-bottom {
    padding-bottom: 30px;
}
.headline-txt {
    font-size:20px;
    text-transform:uppercase;
    color:#EA0074;
    font-weight:900;
}
.hr-set {
    border-top: 3px double #EA0074;
width: 120px;
padding-bottom:20px;
}
/*================================
    BUTTON STYLES
==================================*/
.btn-custom {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 15px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #fff;
    margin: 15px 15px 15px 0px;
}

.btn-one {
    color: #000;
    background-color: transparent;
    border: 5px solid #EA0074;
}

    .btn-one:hover {
        color: #fff;
        background-color: #EA0074;
    }
/*================================
    HOME STYLES
==================================*/
#home {
    color:#fff;
    text-align:center;
}

    #home .overlay {
       background-color:rgba(11, 0, 0, 0.85);
        min-height:550px;
    }
    #home h1 {
        margin-top:80px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        padding:20px;
        border:5px solid #737373;
        max-width:250px;
        font-size:30px;
        font-weight:900;
        color:#EA0074;
    }
    #home h4 {
        margin-top: 80px;
        margin-bottom: 40px;
        line-height: 45px;
        letter-spacing: 2px;
        font-size: 30px;
               color:#EA0074;

    }

/*================================
    MENU STYLES
==================================*/
#menu-nav {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index:999;
}

    #menu-nav  a {
        display: block;
        margin: 10px;
        width: 5px;
        height: 10px;
        background-color:#EA0074;
        padding:5px;
    }

        #menu-nav a:hover {
            background-color: #000;
            text-decoration:none;
        }
/*================================
    HOME BELOW STYLES
==================================*/
#home-below {
    background-color: #000;
    padding-bottom:40px;
    padding-top:40px;
}

    #home-below h2 {
        color: #fff;
        font-size: 25px;
    }
  /*================================
    DESCRIPTION STYLES
==================================*/
.description-img {
    background: url(../img/listado-dancers.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height:500px;
    margin-bottom: 100px;
}

.description-txt {
    background-color: #fff;
    padding: 80px 30px 40px 40px;
    height: 500px;
    margin-bottom: 100px;
}

#description p {
    padding-bottom: 20px;
}


/*================================
    CONTACF SECTION STYLES
==================================*/
#contact {
    background:url("../img/bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#contact .overlay {
    background-color:rgba(11, 0, 0, 0.85);    
    position: absolute;
}

    #contact h5 {
        font-size: 16px;
        line-height: 30px;
    }

/*================================
    TEAM SECTION STYLES
==================================*/

#team img {
    height:100px;
    width:100px;
    border:2px solid #EA0074;
}

#team h5.media-heading {
    font-size:18px;
}

#team .media {
    padding-top:30px;
}
/*================================
    SOCIAL STYLES
 ============================  */
#social {
    background-color:#E7E7E7;
}

.style-box-one {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    background-color: #fff;
    cursor:pointer;
     -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
    .style-box-one:hover {
        background-color:#D8B7F7;
    }

    .style-box-one a, .style-box-one a:hover {
        color: #EA0074;
        text-decoration: none;
    }

    .style-box-one span {
        font-size: 50px;
        padding-bottom: 10px;
    }
    /*================================
  FEATURE SECTION STYLES
==================================*/

 .feature-wrapper {
    padding-top:30px;
    padding-bottom:30px;
}
 .icon-wrapper {
    padding-top:50px;
    padding-bottom:30px;
    font-size:50px;
    color:#EA0074;
}

/*================================
    EMAIL-SUBSCRIBE STYLES
 ============================  */
#email-subscribe {
    background-color:#EA0074;
}
#email-subscribe .form-control
{
display:inline;
height:50px;
font-size:20px;
margin-right:20px;
width:60%;

}

#email-subscribe .btn-subscribe
{
height:50px;
font-size:20px;
color: #EA0074;
background-color: #fff;
border-color: #737373;
margin-top:-10px;
}

/*================================
    Footer SECTION STYLES
==================================*/
footer {
    padding: 20px;
}
    footer a, footer a:focus, footer a:hover {
        color:#EA0074;
        text-decoration:none;
    }

    /*================================
    RESPONSIVE STYLES
 ============================  */

@media (min-width: 100px) and (max-width: 498px) {
    #email-subscribe .form-control
{
display:block;
width:100%;
}

#email-subscribe .btn-subscribe
{
margin-top:20px;
}

}